h1 {
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    position: relative;
    min-height: 1000px;
    overflow-x: hidden;
}

/* /////////////////////////////BAR DE NAVIGATION ///////////////////////////////////////////////////////////////////////////////////////////////////// */
header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5;
}

header .logo {
    color: #fff;
    margin-top: 30px;
    font-weight: 700; 
    font-size: 30px;
}

header.sticky{
    background: black;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: 0,5;
}

header.sticky .navbar__links{
    background: linear-gradient(90deg, lightgray, gray,black);
}

header.sticky .navbar__links:hover {
    color: white;
    background: linear-gradient(90deg, black, gray,lightgray);
}

#nav {
    position: relative;
    display: flex;
}

.navbar__links { 
    color: white;
    background-color: black;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    padding:15px 40px;
    text-decoration: none;
    margin-left: 150px;
 } 

.navbar__links:hover {
    color: black;
    background-color: white;
} 


/* Bar de recherche */

input {
    padding: 15px 20px;
    border: none;
    width: 500px;
    font-size: 18px;
    outline: none;
}

button {
    color: #fff;
    padding: 17px 22px;
    border-color: white;
    background-color: black;
    font-size: 12px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

#recherche{
    position: relative;
    text-align: center;

}

#suggestions {
    font-size: 20px;
    width: 14.35%;
    background-color: #fff;

}

#suggestions:hover {
    background-color: blue;
    color: #fff;
}
/* ////////////////////////////////////////////////PAGE ACCUEIL ///////////////////////////////////////////////////////////////////////////////////// */

/* Block entier -> page accueil*/


/* Block 1 -> page accueil*/




.connect {
    margin-top: 1000px;
    display: center;
    right: 50%;
}