h1 {
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    position: relative;
    min-height: 1000px;
    overflow-x: hidden;
}

/* /////////////////////////////BAR DE NAVIGATION ///////////////////////////////////////////////////////////////////////////////////////////////////// */
header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5;
}

header .logo {
    color: #fff;
    margin-top: 30px;
    font-weight: 700; 
    font-size: 30px;
}

header.sticky{
    background-color: rgba(0, 0, 255, 0.5);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: 0,5;
}

header.sticky .navbar__links{
    background: linear-gradient(90deg, lightgray, gray,black);
}

header.sticky .navbar__links:hover {
    color: white;
    background: linear-gradient(90deg, black, gray,lightgray);
}

#nav {
    position: relative;
    display: flex;
}

.navbar__links { 
    color: white;
    background-color: black;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    padding:15px 40px;
    text-decoration: none;
    margin-left: 150px;
 } 

.navbar__links:hover {
    color: black;
    background-color: white;
} 


/* Bar de recherche */

input {
    padding: 15px 20px;
    border: none;
    width: 500px;
    font-size: 18px;
    outline: none;
}

#recherche{
    position: relative;
    text-align: center;

}

#suggestions {
    font-size: 20px;
    width: 14.35%;
    background-color: #fff;

}

#suggestions:hover {
    background-color: blue;
    color: #fff;
}
/* ////////////////////////////////////////////////PAGE ACCUEIL ///////////////////////////////////////////////////////////////////////////////////// */

.connect {
    margin-top: 1000px;
    display: center;
    right: 50%;
}


/* /////////////POST/////////////////// */

.likes {
    position: relative;
    height:100px;
    width: 100px;
}

#likeBtn {
    margin: 20px;
    height: 50px;
    width: 50px;

}

.post{
    margin-top: 50%;
    margin-left: 50%;
    width: 350px;
    height: 500px;
    background: turquoise;
    margin-top: 250px;
}

.img{
    background: url(/Static/Images/coeur.png);
    height: 100px;
    width: 100px;
}
.input{
    margin: 10px;
    width: 200px;
    height: 50px;
}