{{ define "body" }}
<!-- Block entier -->

<div class="burger">
    <div class="barre"></div>
    <div class="barre"></div>
    <div class="barre"></div>

</div>

<div class="filtre">
    <ul>
        <li>
            <a href="">Catégorie des posts</a>
            <!-- <ul>
                <li><a href="#">sport</a></li>
                <li><a href="#">art</a></li>
                <li><a href="#">nourriture</a></li>

            </ul> -->
        </li>
        
        <li><a href="">Posts</a>
            <ul>
                <li><a href="#">Likés</a></li>
                <li><a href="#">Postés</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Block Posts -->
{{range .}}
    <div class="scroll">
        <div class="post">
            <div class="name">{{.Post}}</div>

            <div class="cmt">
                {{.Cmt}}
                <input class="commentaire" type="text">
            </div>

            <div class="heart-btn">
                <div class="content">
                <span class="heart"></span>
                <span class="text">Like</span>
                <span class="numb"></span>
                </div>
            </div>
        </div>
        <!-- <script>
            $(document).ready(function(){
            $('.content').click(function(){
                $('.content').toggleClass("heart-active")
                $('.text').toggleClass("heart-active")
                $('.numb').toggleClass("heart-active")
                $('.heart').toggleClass("heart-active")
            });
            });
        </script> -->
    </div>
{{end}}


<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/JS/burger.js"></script>

{{ end }}
