{{ define "body" }}
<!-- BLOCK BOUTON BURGER -->
<div id="touteLaPage">
    <div class="burger">
        <div class="barre"></div>
        <div class="barre"></div>
        <div class="barre"></div>

    </div>

    <!-- Listes des filtres -->
    <div class="filtre">
        <ul>
            <li>
                <a href="">Catégorie des posts</a>
            </li>

            <li><a href="">Posts</a>
                <ul>
                    <li><a href="#">Likés</a></li>
                    <li><a href="#">Postés</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- BLOCK POSTS -->
    {{range .}}
    <div id="scroll">
        <div class="post">
            <div class="name">{{.Post}}</div>

            <div class="mainCmt">
                <!-- {{.User}} -->
                Commentaires :
                {{range .Cmt}}
                <div class="cmt">{{.}}</div>
                {{end}}
            </div>

            <div class="affLike" id="addlike-{{.Id_Post}}">Likes</div>

            <button onclick="changeLike('addlike-{{.Id_Post}}')" name="like" action="/sentLike" method="POST" id="like">
                ❤️ Like
            </button>

            <button onclick="deleteLike('addlike-{{.Id_Post}}')" id="dislike">
                💔 Dislike
            </button>

            <form action="/sentCmt" method="POST">
                <div class="buttonCmt">
                    <input value="{{.Id_Post}}" hidden name="idPost">
                    <input class="enterText" type="text" placeholder="Entrer commentaire" name="cmt">
                    <input class="btnSend" type="submit" value="Send">
                </div>
            </form>



            <script src="/static/JS/like.js"></script>
            <script src="/static/JS/CreeCmt.js"></script>
        </div>
    </div>

    {{end}}
</div>



<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/JS/burger.js"></script>

{{ end }}